[submodule "extra-deps/tensorflow-haskell"]
	path = extra-deps/tensorflow-haskell
	url = https://github.com/tomsmeding/tensorflow-haskell.git
[submodule "extra-deps/accelerate"]
	path = extra-deps/accelerate
	url = https://github.com/tmcdonell/accelerate
[submodule "extra-deps/libedgetpu"]
	path = extra-deps/libedgetpu
	url = https://github.com/tomsmeding/libedgetpu
